body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	height: inherit;
}

.main {
	margin-right: 24ex;
}

#fixview {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 0px;
	overflow: visible;
}

.cover {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
}

.rightpanel {
	float: right;
	width: 23ex;
}

.linkbox {
	margin-top: 10px;
	border: 1px solid #008000;
	padding: 5px;
	font-size: 90%;
	background-color: #f0fff0;
}

.linkbox a {
	color: #008000;
}

.pirati-logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	text-align: center;
}

.abstract {
	text-align: justify;
	margin: 10px;
}

.updates {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.bookinfo {
	margin-top: 1em;
	margin-bottom: 1em;
}

.bookinfo table, .updates {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #008000;
	background-color: #f0fff0;
}

.bookinfo img {
	display: block;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}

img {
	border: none;
}
